@{
    ViewBag.Title = "Immatriculation";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Registration</h3>
<form method="post">
    <button class="btn btn-default">Immatriculation suivante</button>
    <input type="hidden" name="step" value="3" />
</form>
